$link-text-decoration:  underline !default;

$link-color:            #00c !default;
$link-color-hover:      darken($link-color, 10%) !default;

a {
  text-decoration: $link-text-decoration;

  color: $link-color;

  &:hover,
  &:focus {
    color: $link-color-hover;
  }
}
